.meme-box {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.meme-img-container {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 3/2;
}

.meme-img {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0.1rem;
    color: #eeeeffaa;
    border-radius: 0.2rem;
    background-color: #1e1d23;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meme-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.edit-button {
    pointer-events: auto;
    z-index: 7;
    border-radius: 0.5rem;
    position: relative;
    top: 0.25rem;
    left: 0.25rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid #555869;
    background-color: #30334388;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover {
    border: 1px solid #777aaa;
    outline: none;
    box-shadow: 4px #55586944;
}

.edit-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.video-player {
    pointer-events: none;
}