.meme-board {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

@media (max-width: 550px) {
    .meme-board {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 550px) and (max-width: 1100px) {
    .meme-board {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .meme-board {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .meme-board-outer {
        width: 1200px;
        margin: auto;
    }
}

.nothing-found-div {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 5rem);
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.nothing-found-svg {
    width: 2rem;
    height: 2rem;
}

.nothing-found-text {
    width: fit-content;
}

a {
    color: #55aaff
}